.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

#movie-offcanvas {
    height: fit-content; 
}

/*Para que el dropmenu del offcanvas tenga las opciones por fuera del mismo*/
.offcanvas .dropdown-menu {
    position: fixed !important; /* Asegura que sobresalga del offcanvas */
    z-index: 1055; /* Aumenta el z-index para que esté por encima del offcanvas */
}
.offcanvas.show {
    overflow: visible; /* Evita el scroll interno en el offcanvas */
}

/*OffCanvas estilos*/

#movie-offcanvas .offcanvas-body {
    background-color: #1c1c1e;  /* Fondo oscuro para un look moderno */
    color: white;  /* Texto claro para contraste */
    padding: 20px; /* Aumenta el espaciado */
}

#movie-offcanvas .offcanvas-header {
    background-color: #343a40; /* Fondo diferente para el header */
    border-bottom: 1px solid #444; /* Añadir una separación sutil */
}

#movie-offcanvas img {
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

#movie-offcanvas .dropdown-menu {
    background-color: #222;  /* Fondo oscuro */
    color: white;
    border-radius: 5px;
}